<section class="footer">
    <div id="contact"></div>
    <div class="content-wrapper">
        <h4>Contact US</h4>
        <div class="contact-us">
            <div class="get-in-touch">
                <h3>Get in touch with us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                <img src="img/facebook7.png" alt="facebook">
                <img src="img/twitter8.png" alt="twitter">
                <img src="img/google9.png" alt="google+">
                <p>
                    Posted by Dospel & GanjaParker <br>
                    +XX-XXXX - XXXX - XX <br>
                    info@mail.com
                </p>
            </div>
            <form action="">
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Name" required>
                <textarea name="" id="" cols="30" rows="10" placeholder="Message" required></textarea>
                <button type="submit">SEND</button>
            </form>
            <div class="get-in-touch2">
                <h3>Get in touch with us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                <img src="img/facebook7.png" alt="facebook">
                <img src="img/twitter8.png" alt="twitter">
                <img src="img/google9.png" alt="google+">
                <p>
                    Posted by Dospel & GanjaParker <br>
                    +XX-XXXX - XXXX - XX <br>
                    info@mail.com
                </p>
            </div>
        </div>
    </div>
</section>