<section class="header">
    <div class="nav-menu">
        <div class="content-wrapper">
            <a href="index.html"><h2>Author</h2></a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="main-heading">
            <img src="img/header2.png" alt="left arrow">
            <h1>This is a main heading</h1>
            <h3>Lorem Ipsum is simply dummy text of the printing </h3>
            <button type="button">Learn more</button>
            <img src="img/header3.png" alt="right arrow">
    </div>
</section>
